.navbar-item.is-active {
    font-weight: 600;
}
.card-content-limit {
    max-height: 100px;
    overflow-y: auto;
}
.margem {
    margin: 20px auto;
}
.card-header-title.title {
    font-weight: 400;
}
.column.card {
    margin: 5px;
}

.perfil.is-info {
    background-color: #209cee;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 2rem;
}
.perfil.is-info img {
    margin-right: 10px;
}